<h1>New salesforce</h1>

<div>
  <%= submit_tag 'Create' %>
</div><br/>

<div class="title">
  <%= label_tag 'Lead information' %>
</div>

<div class="lead_information" align="center">
  <div class="left_info">

    <div class="column">
      <div class="row">
        <%= label_tag 'Lead Owner' %>
      </div>
      <div class="row">
        <%='Lead owner name'%>
      </div>
    </div>

    <div class="column">
      <div>
        <%= label_tag 'First name' %>
      </div>
      <div class="row">
        <%= select_tag 'salutation' %>
      </div>
      <div class="row">
        <%= text_field_tag 'first_name'%>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag 'Last name' %>
      </div>
      <div class="row">
        <%= text_field_tag 'last_name'%>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag 'Company' %>
      </div>
      <div class="row">
        <%= text_field_tag 'company'%>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag 'Title' %>
      </div>
      <div class="row">
        <%= text_field_tag 'title'%>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag 'Lead sourse' %>
      </div>
      <div class="row">
        <%= select_tag 'lead_sourse' %>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag 'Compaing' %>
      </div>
      <div class="row">
        <%= text_field_tag 'compaing' %>
      </div>
      <div class="row">
        <%= link_to image_tag("show.png", :size => "20x20",:border => "0") %>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag 'Industry' %>
      </div>
      <div class="row">
        <%= select_tag 'industry' %>
      </div>
    </div>

  </div>

  <div class="right_info">
    <div class="column">
      <div class="row">
        <%= label_tag 'Phone' %>
      </div>
      <div class="row">
        <%= text_field_tag 'phone'%>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag 'Mobile' %>
      </div>
      <div class="row">
        <%= text_field_tag 'mobile'%>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag 'Fax' %>
      </div>
      <div class="row">
        <%= text_field_tag 'fax'%>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag 'Email' %>
      </div>
      <div class="row">
        <%= text_field_tag 'email'%>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag 'Website' %>
      </div>
      <div class="row">
        <%= text_field_tag 'website'%>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag 'Website' %>
      </div>
      <div class="row">
        <%= text_field_tag 'website'%>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag 'Lead status' %>
      </div>
      <div class="row">
        <%= select_tag 'lead_status' %>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag 'Rating' %>
      </div>
      <div class="row">
        <%= select_tag 'rating' %>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag 'No. of Employees' %>
      </div>
      <div class="row">
        <%= text_field_tag 'employees'%>
      </div>
    </div>
  </div>

</div><br/><br/><br/>

<%= link_to 'Back', salesforces_path %>