<h3>Leads</h3>

<div style="font-style:italic; color:green;">
  <%= flash[:info] %>
</div>
<br/>
<%= link_to "Create new Lead", :action => :new %>
<br/>
<br/>

<div class="title">
  <div class="check">#</div>
  <div class="info">First name</div>
  <div class="info">Last name</div>
  <div class="info">Company</div>
  <div class="status">Status</div>
  <div class="actions_title" style="text-align:center">Actions</div>
</div>
<div style="clear:both"></div>
<div>
  <% @data.records.each_with_index do |record, i| %>
      <div class="tasks">
        <div class="task_container">
          <div class="check">
            <%= i + 1 %>
          </div>
          <div class="info"><%= record.firstName %></div>
          <div class="info"><%= record.lastName %></div>
          <div class="info"><%= record.company %></div>
          <div class="status"> <%= record.status %></div>

          <div class="actions hidden" style="text-align: center;">
            <div><%= link_to "delete", {:controller => :leads, :action=> :destroy} %></div>
            <div><%= link_to "update", {:controller => :leads, :action=> :edit} %></div>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
  <% end %>
</div>