<h3>Leads</h3>

<div style="font-style:italic; color:green;">
  <%= flash[:info] %>
</div>
<br/>
<%= link_to "Create new Lead", :action => :new %>
<br/>
<br/>

<div class="tasks" style="font-weight: bold;">
  <div class="check">#</div>
  <div class="info">First name</div>
  <div class="info">Last name</div>
  <div class="status">Company</div>
  <div class="info">Status</div>
  <div class="actions_title">Actions</div>
  <div style="clear:both;"></div>
</div>

<div>
  <% @data.records.each_with_index do |record, i| %>
      <div class="tasks">
        <div class="task_container">
          <div class="check">
            <%= i + 1 %>
          </div>
          <div class="info"><%= record.firstName %></div>
          <div class="info"><%= record.lastName %></div>
          <div class="info"><%= record.company %></div>
          <div class="status"> <%= record.status %></div>

          <div class="actions hidden">
            <div><%= link_to "delete", {:controller => :leads, :action=> :destroy, :lead_id => record["Id"].first} %></div>
            <div><%= link_to "update", {:controller => :leads, :action=> :edit, :lead_id => record["Id"].first} %></div>
          </div>
          <div style="clear:both;"></div>
        </div>
      </div>

  <% end %>
</div>