<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Docs: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'main' %>
  <%= javascript_include_tag :defaults %>

</head>
<body>
<p style="color: green"><%= flash[:notice] %></p>
<%if logged_in? %>
    <p style="position:absolute; top:0; right:0;"><%= link_to "Edit", "/users/edit" %>  </p>
    <p style="position:absolute; top:10; right:0;"><%= link_to "Log out", logout_path, { :title => "Log out" }%></p>
<%end%>

<%= yield %>

</body>
</html>
